@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto|Slabo+27px');
/* Special styling for WebKit/Blink */
.modal {
    min-height: 80%!important;
    width: 68%!important;
    /*overflow: hidden;*/
}

.modal *:not(input){
	margin: 0!important;
}

.lesson-intro{
    display: flex;
    height: auto;
    width: 80%;
    justify-content: space-around;
    align-items: baseline;
    margin: auto;
    flex-wrap: wrap;
    margin-bottom: 70px;
}
.lesson-intro section{
    flex-basis: 40%;
    text-align: center;
    min-width: 240px;
    margin-left: 18px;
    max-width: 400px;
}
.lesson-intro section p:first-child{
	text-align: center;
}
.abt-icon-active{
	background: white !important;
	border-radius: 20px !important;
}
.abt-icon-active i{
	color: white !important;
	background: #4CAF50 !important;
}

.lesson-intro + p{
    text-align: center;
    width: 340px;
    margin: auto;
    margin-top: 20px;
    max-width: 340px;
}
#dropdown1 li:hover a{
	background: white !important;
	color:rgba(33, 150, 243, 0.77) !important;
	transform:scale(1.1);
}
#dropdown1 li:hover{
	background: white !important;
}

.reg-form label{
	font-size: initial;
}
.reg-form input{
    height: initial;
    height: 53px;
}

.reg-form .row{
    display: flex;
    flex-basis: 50%;
    min-height: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.reg-form .row:nth-child(2){
    flex-direction: column-reverse;

}
.reg-form{
	flex-direction: row;
	display: flex;
}
.modal-footer a{
    font-size: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 130px;
    margin-right: 5px
}
.modal-footer a:first-child{
	color: firebrick
}
.modal-footer a:last-child{
	color: green
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 1px solid white;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #2cc5f7;
	cursor: pointer;
	margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}
*{
	font-family: tahoma;
}
.progress .indeterminate{
    background-color: #66bb6a;
}
.progress{
    background-color: #b3cf9b;

}
nav .logo img{
	width: 180px;
	height: 90px;
	max-width: 180px;
	max-height: 90px;

}
.news section{
	background-position: top center;
}

.cd-footer{
	color: white;
}
.abt-scroll{
	position: relative;
}
#to-top{
	position: fixed;
	right: 3%;
	bottom: 6%;
	opacity: 0;

}
#to-top:hover{
	opacity: 1 !important;
}
.abt-scroll input{
	position: absolute;
	top: -16px;
}
p{
	font-family: Roboto !important;
}
.ls-type{
    line-height: 30px;
}
.res-p{
	font-size: 1.2em;
    line-height: 1.5em;
}
.student-img{
	width: 140px;
    height: 140px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    min-width: 140px;
    min-height: 140px;
}
.abt-scroll span{
	display: none !important;
}
.find-us{
	color: white!important;
	flex-direction: column;
}
.info{
	margin-right: 15px;
}
.find-us section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 38%;
    max-width: 350px;
}
.time-box header{
	position: absolute;
	top: 0;
	border-radius: 10px 10px 0 0;
	background-color: skyblue;
	width: 100%;
	height: 40%;
}
.time-box footer{
	width: 100%;
	height: 60%;
	bottom: 0;
	position: absolute;
	border-radius: 0 0 10px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.35em;
	color: #fc6f8d;
}
.time-box footer h4{
	margin-bottom: 3px;
}
.time-box{
	position: relative;
	border-radius: 10px;

}
.student-fb small{
	color: #66bb6a;
}
.time-box span{
	width: 45%;
	left: 50%;
	background: white;
	height: 12px;
	position: absolute;
	z-index: 1;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	border-radius: 6px;
}
.circle-1{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: black;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 42px;
}
.timer li{
	margin-right: 5px;
}
.circle-2{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: black;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 42px;
}

#map {
	height: 450px;
	flex-basis: 58%;
	position: relative;
}
#map-select{
	height: 450px;
	flex-basis: 27%;
	min-width: 240px;
}
.coordinating{
	display: flex;
	padding: 5%;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
	border: 1px solid white;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #2cc5f7;
	cursor: pointer;
	margin-top: -14px; 
}
#mobile-demo a{
	color: rgba(252, 111, 141, 0.87)!important;
}
.cdf-btn:hover,.cdf-btn:focus{
	background: rgba(252, 111, 141, 1) !important;
}
#mobile-demo a:hover{
	color: #039be5!important;
	background: transparent;
	transform: scale(1.1);
}
.show{
	display: block;
}
.lesson-types{
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	flex-wrap: wrap;
}
.lesson-types section{
	border:1px inset gray;
	border-radius: 4px;
	flex-basis: 30%;
	min-height: 300px;
	padding: 2% 3%;
}
.lesson-types section li{
	list-style: circle;
	list-style-position: inside;
}
.hidden{
	display: none;
}
.error {
    color: red;
    margin-bottom: 10px;
}
.ls-container{
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
}
.fl-between{
	justify-content: space-between;
}
.fl-around{
	justify-content: space-around;
}
.fl-center{
	justify-content: center;
}
.ls-col{
    display: flex;
    flex-direction: column;
}
.abt-txt-holder{
	min-height: 260px;
}
/* All the same stuff for IE */
input[type=range]::-ms-thumb {
	border: 1px solid white;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #2cc5f7;
	cursor: pointer;
	margin-top: -14px; 
}
#main-content{
	position: relative;
	top: 131px;
}

nav a{
	color:gray!important;
}
nav{
	height: 131px;
	position: fixed;
	z-index: 999;
	transition: height 300ms ease-in;
}
nav .nav-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
}
nav .logo{
	position: absolute;
    left: 33px;
    top: 26px;
    display: none;
}
.text-left{
text-align: left !important;

}
.text-right{
text-align: right !important;

}
label.active{
	display: none !important;
}
nav ul a{
	line-height: initial;
	height: 30px;
	line-height: 2px;
	margin-right: 50px;
	padding: 15px;
	border-radius: 2px;
	transition: 300ms;
}
nav ul a:hover{
	background: #4ad26d;
	color: white!important;
}

.hvr-eff{
	width: 149px;
	height: auto;
	padding: 3%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;

}
.must-roll{
	position: absolute;
	width: 130px;
	height: 130px;
	border:3px dotted #90c53f;
	border-radius: 50%;
}
.nav-b{
	display: flex;
	justify-content: center;
	align-items: center;
}
.lessons{
	width: 100%;
	height: auto;
	margin: auto;
	background: white;
	padding: 5% 2%;
}
.lessons_list{
	display: flex;
	margin-top: 5%;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: baseline;
}
.ls{
	display: flex;
	align-items: flex-start;
	height: 200px;
	flex-basis: 32%;
	height: auto;
	margin-top: 1.5em;
}
.img-res{
	width: 110px;
	height: 110px;
}
.les-text{
	height: 100%;
    margin-top: 3%;
}

#usanoxner{
	width: 100%;
	height: 350px;
	background: lightgreen;
}

.reg-cards{
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	padding: 5%;
}
.cd{
	flex-basis: 45%;
	height: 280px;
	display: flex;
	border-radius: 10px;
	margin-top: 2%;
	margin-right: 2%;
	border-bottom: none;


}
p[data-lsMore]{
	color: #00BCD4  !important;
	cursor: pointer !important;
}
.ls-red{
	background-color: #f05364
}

.ls-green{
	background:#8BC34A;
}
.ls-yellow{
	background-color: #fae149;
	color:black !important;

}
.lesson-more button{
	min-width: 200px;
	min-height: 40px;
	font-size: 1em;
}
.ls-blue{
	background: #53b9e9
}
.ls-red .white{
	color: #f05364 !important;
    max-width: 200px;

}

.ls-green .white{
	color:#8BC34A !important;
    max-width: 200px;
}
.ls-yellow .white{

	color: black !important;
    max-width: 200px;


}
.ls-blue .white{
	color:#53b9e9 !important;
    max-width: 200px;

}
.lesson-more{
	width: 100%;
	border:1px solid transparent;
	border-radius: 20px;
	padding: 9%;
	color: white;
	position: relative;
	display: none;
	padding-top: 30px;

}
.lesson-more > i{
	position: absolute;
	top: 15px;
	right: 15px;
    font-size: 2.5em;
	cursor: pointer;
	color: white;
}
.lesson-more li{
	list-style-type: disc !important; 
}
.cd-img{
	width: 50%;
    min-width: 230px;
    max-width: 312px;
	border-radius: 10px 0 0 10px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	background-image: url(http://upsidethemes.net/demo/koudo/wordpress/wp-content/uploads/fly-images/1892/football-551561_1920-270x322-c.jpg);
}
.cdf-btn:hover{
	background: rgb(247, 85, 120);
	transform: none;
	box-shadow: none;
}

.progress{
	position: fixed;
	height: 5px;
	top: -8px;
	display: block;
	display: none;
	width: 100%;
	border-radius: 2px;
	margin: .5rem 0 1rem 0;
	overflow: hidden;
}
.cd-text{
	width: 59%;
	position: relative;
    max-width: 393px;

}
.cd-footer{
	position: absolute;
	bottom: 0;
	background: #4ad26d;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 10px 0;
	width: 100%;
	cursor: pointer;
}
.cd-cont{
	padding: 5%;
    height: 274px;
}
.about{
	background-image: url(http://upsidethemes.net/demo/koudo/wordpress/wp-content/uploads/2016/11/bg-img-01.jpg);
	background-repeat: repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	height: auto;
    padding: 15px 0;
}
.about-icons{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 2%;
	justify-content: center;
	margin-bottom: 5%;
	
}
.abt-icon{
	flex-basis: 262px;
	margin-left: 3%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 200px;
	transition:180ms ease-in;
	cursor: pointer;
}
.abt-icon:hover{
	background: white;
	border-radius: 20px;

}
.abt-icon i{
	width: 110px;
	height: 110px;
	font-size: 300%;
	text-align: center;
	line-height: 110px;
	border-radius: 50%;
	color: #4CAF50;
	background: white;
	transition: 180ms ease-in;
}
.abt-icon:hover i{
	color: white;
	background: #4CAF50;

}
.modal-content del{
	visibility: hidden;
}
.abt-text{
	margin:0 auto;
	width: 75%;
	text-align: center;
}
.abt-footer{
	width: 100%;
	position: relative;
	overflow-y: hidden;

}
.lesson-more li{
	list-style: disc !important;
}
.abt-footer-section{
    width: 280px;
    height: 231px;
       background-position: 40% 36%  !important;
    display: inline-block;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

	
}

.abt-ft-scroll{
	height: 216px;
	width: 1800px;
}
.art-img{
	width: 100%;
	height: 100%;
	position: absolute;
}
.art-cover{
	position: absolute;
	width: 0%;
	height: 0%;
	background: black;
	transition: 200ms ease-out;
	cursor: pointer;
	opacity: .5;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;

}
.art-cover i,.art-cover h6{
	display: none;
}
.abt-footer::-webkit-scrollbar {
	width: 0;
	height: 0;
}
.abt-footer::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px #4CAF50;
}

.abt-footer::-webkit-scrollbar-thumb {
	background-color: #4CAF50;
	border-radius: 24px;
}



.cdf-btn{
	position: absolute;
	right: 0;
	width: 0px;
	height: 100%;
	font-size: 1.8em;
	background: #fc6f8d;
	font-weight: 100;
	display: flex;
	box-shadow: none;
	justify-content: space-around;
	border-radius: 0 0px 10px 0 !important;
}
.ls-col{
	flex-basis: 50%;
}
.cd-footer h6{
	position: relative;
	left: -21px;
}

.view-gallery{
	width: 100%;
	padding: 5% 0;
	height: auto;
	background-image: url(http://upsidethemes.net/demo/koudo/wordpress/wp-content/uploads/2016/11/bg-img-05.jpg);
	background-repeat: repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: auto; 
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 30px;
	padding-bottom: 20px;
}
.view-gallery h3{
	color: white;
	text-align: center;
	flex-basis: 100%;
}
.view-gallery button{
	color: purple!important;
}
.view-gallery button:hover{
	background: #02a8f3 !important;
	color: white !important;
}
.view-gallery button:hover i{
	transition: 300ms;
	transform: translateX(12px);
	color: white !important;

}
.teachers{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 3% 0;
}
.teachers header{
	text-align: center;
}
.teachers-list{
	text-align: center;
	width: 100%;
	margin-top: 3%;
	height: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.teachers-list section{
	flex-basis: 20%;
	margin-right: 5%;
}
.active-rotate{
	animation: roll 100ms infinite linear;
	cursor: pointer;
}
.news{
	background-color: #eaeaea;
	height: auto;
	padding:3% 0; 
}

.new-lessons article{
	display: flex;
	flex-direction: column;
	flex-basis: 350px;
	text-align: center;
	border-radius: 5px;
	overflow:hidden;
	margin-right: 8px;
	margin-top: 4%;
	min-width: 240px;
	margin-right: 1%;
}
.new-lessons article p{
	text-align: justify;
}


.n-img{
	height: 250px;
	max-height: 350px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	background-size: cover;
	background-position: 50%;
	background-repeat: no-repeat;


}
.mid-btn{
	width: 160px;
	background: #66BB6A;
	position: absolute;
	border-radius: 20px;
	top: -23px;
	border: none;
	height: 45px;
	color: white;
	left: 50%;
	transform: translateX(-50%);
}
.mid-btn:hover{
	transition: 600ms;
	color: #66BB6A;
	background: white !important;
	cursor: pointer;

}
.n-cont{
	padding: 10% 5%;
	position: relative;
	background-color: white;

}

.new-lessons{
	display: flex;
	padding: 5% 0;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	background-color: #eaeaea;
}
.comming-soon{
	background-image: url(http://upsidethemes.net/demo/koudo/wordpress/wp-content/uploads/2016/11/bg-img-02.jpg);
	background-repeat: repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	height: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding: 5%;
}
.countdown{
	text-align: center;
	flex-basis: 60%;
	color: white;
}
.timer{
	height: auto;
	margin-top: 20px;
	border-radius: 4px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.timer li{
	flex-basis: 120px;
	height: 120px;
	position: relative;
	margin-top: 5%;
	background-color: white;
}
.cmg-reg{
	flex-basis: 35%;
	padding: 5%;
	margin-left: 2%;
	background-color: white;
}
.cmg-reg h3{
	margin-bottom: 5%;
	color: #42A5F5;
	font-weight: 500;
}
.cmg-reg input:focus{
	border-bottom: 1px solid #42A5F5 !important;
	box-shadow: 0 1px 0 0 #42A5F5 !important;
}
.input-field input[type=text]:focus + label {
	color:#26a69a !important;
}
.cmg-reg input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #42A5F5;

}
.cmg-reg input::-moz-placeholder { /* Firefox 19+ */
	color: #42A5F5;
}
.cmg-reg input:-ms-input-placeholder { /* IE 10+ */
	color: #42A5F5;
}
.cmg-reg input:-moz-placeholder { /* Firefox 18- */
	color: #42A5F5;
}
.bottom-side{
	background-image: url(http://upsidethemes.net/demo/koudo/wordpress/wp-content/uploads/2016/11/bg-bottom-sidebar.jpg);
	background-size: cover;
	height: auto;
	min-height: 150px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap-reverse;

}
.find-us{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	flex-basis: 50%;
	min-width: 240px;
}
.find-us img{
	margin-left: 25px;
	height: 45px;
}
.btm-logo{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 50%;
	min-width: 240px;
}
.btm-logo img{
	width: 190px;
}
.lessons h3{
	margin-top: 0;
}
.lessons h5{
    margin-top: 61px;
    margin-bottom: 50px;
}
.r-heading{
	font-weight: 900;
}
@media all and (max-width: 360px){
	.lesson-intro + p{
		width: auto;
	}
	.cd{
   		max-width: 300px ; 

	}
	.reg-form {
	    flex-direction: row;
	    flex-wrap: wrap;
	}
	.reg-form .row{
		flex-basis: 100%;
	}
	.cd-img{
		width: 250px;
	}
	.ls-col{
		flex-basis: 100%;
	}
	.r-heading{
		font-size: 2em;
		margin-top: 6%;
	}
	.res-p{
		font-size: 1em;
    	width: 100%;
    	text-align: justify;
	}
	.find-us{
		align-items: center;
	}
	.ls{
		flex-basis: 100%;
	}
	.img-res{
		width: 70px;
		height: 70px;
	}
	.cd{
		flex-basis: 100%;
		flex-direction: column;
		height: auto;
   		max-width: 300px ; 

	}
	.cd-text{
		width: 100%;
	}
	.cd-img{
		width: 100%;
		height: 250px;
		border-radius: 10px 10px 0 0;
	}
	.cd-footer{
		border-radius: 0 0 10px 10px;
	}
	.about-icons{
		padding: 0;
	}
	.abt-text{
		width: 100%;
	}
	.abt-footer-section{
		flex-basis: 100%;
	}
	.abt-footer{
		padding: 0;
	}
	nav .button-collapse i{
		line-height: 38px!important;
	}
	nav .logo{
		display: none;
	}
	.hvr-eff{
		width: 90px;
		height: 90px;
	}
	.must-roll{
		width: 90px;
		height: 90px;
	}
	.cmg-reg{
		flex-basis: 95%;
	}
	.new-lessons article{
		box-shadow: none;
	}
	.lesson-more h2{
		font-size: 1.7em;
	}
	.lesson-more h5{
		font-size: 1.3em;
	}
	

}
.feedback{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.fb{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	width: 100%;
	height: auto;
	flex-wrap: wrap;
	padding: 5%;
}
.student-fb{
	flex-basis: 450px;
	margin-bottom: 20px;
	flex-direction: column;
}
.student-fb header{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 120px;
	flex-direction: column;
    min-height: 210px;
}
.student-fb section{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	height: 78px;
	margin-left: 10px;
	flex-direction: column;
	margin-top: 3%;
}
.student-fb header img{
	border-radius: 50%;
	width: 75px;
	height: 80px;
}

.teacher-img{
	width: 172px;
    height: 176px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-size: cover;
    background-position: 50%;
}
b{
	font-size: 92%;
}

@media (min-width: 480px) and (max-width: 1099px) {
	.reg-form label{
		font-size: initial;
	}
	.reg-form input{
	    height: initial;
        height: 53px;
	}
	.reg-form textarea {
	    font-size: 1.5em;
	}
	.reg-form .row{
	    display: flex;
	    flex-basis: 50%;
	    min-height: 150px;
	    flex-direction: column;
	    align-items: center;
	    justify-content: center;
	}
	.reg-form .row:nth-child(2){
	    flex-direction: column-reverse;

	}
	.reg-form{
		flex-direction: row;
	}
	.modal-footer a{
	    font-size: 1em;
	    text-align: center;
	    height: 50px;
	    width: 100px;
	}
	.ls-col{
		flex-basis: 100%;
	}

	.lesson-more button{
		min-width: 200px;
		min-height: 40px;
		font-size: 1em;
	    max-width: 200px !important;
	    
	}
	.countdown{
		flex-basis:49%;

	}
	.timer li h4{
		font-size: 2em;
	}
	.teacher-img{
		width: 175px;
		height: 175px;
	}
	.res-p{
		font-size: 1.25em;
		width: 100%;
	}
			.lesson-more h2{
		font-size: 2em;
	}
	.lesson-more h5{
		font-size: 1.35em;
	}
	p[data-lsMore]{
		font-size: 1em; 
	}
	.lesson-more li{
		font-size: 1em;
	}
	
	.big{
		font-size: 1.35em;
	}
	.cdt{
		font-size: 1.05em;
	}
	#mobile-demo a{
		font-size: 1.35em;
		height: auto;
	}
	.slider .indicators .indicator-item{
		width: 20px;
		height: 20px;
		margin-left: 6%;
	}
	.cdf-btn{
		width: 80px;
	}
	.logo img{
		width: 100%;
	}
	.logo{
		width: 50px;
	}
	.lessons h3{
		margin-top: 5%;
	}
	.slider .indicators{
		bottom: -18px;
	}
	.side-nav li{
		line-height: initial; 
		margin-top: 2%;
		height: auto;
	}
	.must-roll {
		height: 13em;
		width: 13em;
	}
	.img-res{
		width: 140%;
		height: 100%;
	}
	.hvr-eff{
		width: 127px;
		margin: auto;
		margin-bottom: 9%;
	}
	nav .logo{
		width: 160px;
	}
	.cd {
		flex-basis: 350px;
		margin-top: -5%;
		margin-bottom: 8%;
	}
	.cd-img{
		border-radius: 10px 10px 0 0;
		height: 25em;
		background-size: 100% 100%;
	}
	.cd-text{
		height: 19em;
	}
	.cd-footer{
		height: 5em;
		justify-content: flex-start;
		padding-left: 24%;
		border-radius: 0 0 10px 10px;
	}
	.ls{
		flex-basis: 48%;
	}
	.abt-icon {
		flex-basis: 23%;
		height: auto;
		max-width: 125px;

	}
	#map{
		flex-basis: 100%;
	}
	.coordinating{
		padding: 0;
	}
	.user-pos input{
		font-size: 14px;
		height: 2em;
	}
	
	.coordinating button{
		font-size: 14px;
		width: 74%;
		height: 50px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	.select-wrapper{
		font-size: 14px;
	}
	.select-wrapper select{
		font-size: 14px;

	}
	.dropdown-content li>span {
		font-size: 14px;
		color: #26a69a;
		display: block;
		height: 50px;
		line-height: 2em;
		padding: 14px 16px;
	}
	.select-wrapper input.select-dropdown{
		font-size: 1.8em;
		height: 50px;
	}
	#map-select{
		justify-content: center;
		flex-basis: 90%;
		height: 250px;
		max-width: 456px;
	}
	.abt-icon i{
		font-size: 5em!important;
	}
	.view-gallery button {
		width: 250px;
		font-size: 1.5em;
	}
	.view-gallery h3 {
		flex-basis: 100%;
	}
	.n-img {
		height: 16em;
	}
	.mid-btn {
		font-size: 1.5em;
		top: -16px;
	}
	.timer li {
		flex-basis: 120px;
		height: 120px;
	}
	.cmg-reg h3 {
		font-size: 2.3em;
	}
	.cmg-reg input {
		font-size: 1.5em;
		height: 66px;
	}
	.cmg-reg label {
		font-size: 1.5em;
	}
	label.active{
		display: none !important;
	}
	.cmg-reg button {
		margin-top: 6%;
		width: 100%;
		height: 2em;
	    max-width: 250px;
	    max-height: 42px;
	    font-size: 1.35em;
	}
	.feedback h3 {
		font-size: 2.3em;
	}
	.student-fb {
		font-size: 1.2em;
	}
	.teachers-list section {
		margin: initial;
		flex-basis: 50%;
	}
	.new-lessons article {
		box-shadow: none;
		flex-basis: 39%;
	}
	.mid-btn {
		font-size: 1.05em;
		top: -21px;
	}
	.cmg-reg {
		flex-basis: 450px;
	    max-width: 420px;
	}
	.timer{
		flex-basis: 20%;
	}
	.timer li {
		flex-basis: 120px;
	}




}

@media (min-width: 480px) and (max-width: 738px){
	.ls-col{
		flex-basis: 100%;
	}
	.timer li h4{
		font-size: 2em;
	}
	.new-lessons article {
	    flex-basis: 41%;
	}
	.student-fb{
	    flex-basis: 100%;
		margin-left: 35px;
		min-width: 250px;
	}
	.fb{
	    align-items: baseline;
	}


}
@media (min-width: 601px) and (max-width: 992px){
	.ls-col{
		flex-basis: 100%;
	}
	.timer li h4{
		font-size: 2em;
	}
	.logo{
		position: relative;
		left: 0;
	}
	.student-fb{
		flex-basis: 100%;
		min-width: 250px;
		margin-left: 35px;
	}
	.fb{
	    align-items: baseline;
	}
	.r-heading{
	    font-size: 3em;
	    margin-top: 6%;
		
	}
}

@media (min-width: 611px) and (max-width: 1237px){
	.ls-col{
		flex-basis: 50% ;
		padding-left: 30px;
	}
	.logo{
		position: relative;
		left: -3%!important;
		top: 14px!important;
	}
	#map {
		height: 450px;
		flex-basis: 100%;
		position: relative;

	}
	.student-fb:nth-child(2n){
		margin-left: 3px;
	}
	.fb{
	    align-items: baseline;
	    justify-content: space-between;
	}
	
	
}
@media (min-width: 1100px) and (max-width: 1237px){
	.ls-col{
		flex-basis: 50%;
	}
	.logo{
		display: none;
	}
}
@media (min-width: 479px) and (max-width: 611px){
	.ls-col{
		flex-basis: 100%;
	}
	.logo{
		display: none !important;
	}
	.student-fb header{
		min-height: 230px;
	}
	.reg-form {
	    flex-direction: row;
	    flex-wrap: wrap;
	}
	.reg-form .row{
		flex-basis: 100%;
	}
	
}
@media (min-width: 992px) and (max-width: 1098px){

	.student-fb{

		max-width: 418px;
	}
	.r-heading{
		font-size: 3em;
		margin-top: 6%;
	}
	.student-fb header{
		min-height: 230px;
	}
}
@media (min-width: 1100px) and (max-width: 1235px ){
	#map-select{
		height: 258px;
	}
}
@media (max-width: 479px){
	.cd-img{
		height: 250px;

	}
}
@media (min-width: 314px) and (max-width: 610px){
	.cd-img{
		height: 310px;

	}
	.reg-form {
	    flex-direction: row;
	    flex-wrap: wrap;
	}
	.reg-form .row{
		flex-basis: 100%;
	}
}
@media (max-width: 910px){
	.ls-col{
		flex-basis: 100%;
	}
	.btm-logo{
		display: none;
	}
	
	.res-p{
		font-size: 1em;
    	width: 100%;
    	text-align: center;
	}
	.find-us{
		align-items: center;
	}
	.r-heading{
		font-size: 1.35em;
		margin-top: 6%;
		
	}
	.logo{
		display: none;
	}
	#map{
		flex-basis: 100%;

	}
	.coordinating{
		padding: 0;
	}
	#map-select{
		height: 294px;
		flex-basis: 91%;
		min-width: initial;
	}

	nav .button-collapse{
		left: 0;
		transform: initial;
	}
	.view-gallery h3{
		font-size: 1.2em;
	}
	.cd {
		flex-basis: 350px;
		margin-top: -5%;
		margin-bottom: 8%;
		height: auto;
		flex-direction: column;
		max-width: 300px;
		align-items: center;
	}
	.cd-img {
		width: 100%;
		background-size: 100% 100%;
		max-width: 245px;
		max-height: 245px;
		border-radius: 5px 5px 0 0;
	}
	.cd-text {
		width: 100%;
		max-width: 245px;
	}
	.cmg-reg {
		flex-basis: 100%;
	}
	.timer{
		flex-basis: 100%;
	}
	.timer li {
		flex-basis: 120px;
		margin-top: 5%;
	}
	.abt-footer,.abt-scroll{
		display: none;
	}

}
@media (max-width: 1228px){
	.nav-b{
		display: none;

	}
	.button-collapse{
		display: block !important;
	}
}

@media (min-width: 479px) and (max-width: 812px){
	.ls {
	    flex-basis: 48%;
	    flex-direction: column;
	    align-items: center;
	    padding: 0;
	}
	.img-res {
        width: 140%;
	    height: 100%;
	    min-width: 170px;
	    max-height: 170px;
	    min-height: 170px;
	    padding: 0;
	    max-width: 170px;
	}
	.les-text {
	    height: 100%;
	    width: 100%;
	    text-align: center;
	}

}

@media (min-width: 910px) and (max-width: 1100px){

	.cd{
		flex-direction: column;
		height: auto;
		justify-content: center;
	    align-items: center;
        max-height: 519px;
	}
	.cd-img{
		height: 219px;
		max-width: 245px;
		max-height: 245px;
	}
	.cd-text{
		max-width: 245px;
		width: 65%;
	}
	.cd-footer{
		border-radius: 0 0 10px 10px;
	}
	
}


@media only screen and (min-width: 960px){


	.flow-text {
	    font-size: 200% !important;
	}
	.cd-img{
		max-width: 245px;
		max-height: 280px;
	}
	.cd-text{
		max-width: 245px;
	}
}








